<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supprimer un catway</title>
  </head>
  <body>
    <button><a href="/list_catways">Retour</a></button>
    <h1>Supprimer un catway</h1>

    <form action="/catways/<%= catway._id %>?_method=DELETE" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <p>Êtes-vous sûr de vouloir supprimer ce catway ?</p>
      <button type="submit">Supprimer</button>
    </form>
  </body>
</html>
