<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
  </head>
  <body>
    <h1>
      Bienvenue sur la réservation en ligne de votre catway pour le port de
      Plaisance Russell
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/login">Connexion</a>
        </li>
        <li>
          <a href="/register">Documentation de l'API</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
