<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des catways</title>
  </head>
  <body>
    <button><a href="/dashboard">Retour</a></button>
    <h1>Liste des catways</h1>
  </body>
</html>
